services:
  wsjtx-services:
    image: wsjtx-publisher
    container_name: wsjtx-publisher-dev
    restart: unless-stopped
    network_mode: "host"
    build:
      context: .
      dockerfile: MessagePublisher/Dockerfile
      args:
        - GITHUB_USERNAME=${GITHUB_USERNAME}
        - GITHUB_TOKEN=${GITHUB_TOKEN} 
    volumes:
      - wsjtx-publisher-api-settings:/app/appsettings
volumes:
  wsjtx-publisher-api-settings:
    external: true

