<Project>
    <PropertyGroup>
        <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:10.0</ContainerBaseImage>
        <ContainerImageTags>$(Version);latest</ContainerImageTags>
        <ContainerRegistry>ghcr.io</ContainerRegistry>
        <ContainerRepository>jeffu231/WSJT-XPublisher</ContainerRepository>
    </PropertyGroup>
    <ItemGroup>
        <ContainerLabel Include="org.opencontainers.image.source" Value="$(RepositoryUrl)" />
        <ContainerLabel Include="org.opencontainers.image.description" Value="WSJT-X Publisher Services - WSJTX services for Amateur Radio" />
        <ContainerLabel Include="org.opencontainers.image.licenses" Value="MIT" />
    </ItemGroup>
</Project>